#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.card {
    border: 1px black solid;
    text-align: center;
    background-color: lightblue;
}
.card img {
    width: 200px;
}
h1,footer {
    text-align: center;
}