body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
}


h1 {
    background-color: #15616D;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Red Rose', serif; 
    padding: 5px;
}

h2,h3,h4,h5,h6 {
    font-size: 20px;
    background-color: #15616D;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 5px;
}

p {
    text-align: center;
    padding: 5px;
}

.current_events,.weather,.first,.second,.third {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    /* padding-bottom: 5px; */
    padding: 5px;
    margin: 10px;
}

.hero {
    text-align: center;
}

img {
    width: 100%;
}

nav li{
    list-style-type: none;
    display: none;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    margin: 0 auto;
    padding-right: 40px;
}

nav ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #1c7ec0;
}

a:hover, a:active{
    color: #9b1d20;
}

#menu {
    display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
}

#menu::before {
    color: white;
    content: "☰";
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

footer {
    text-align: center;
    background-color: #15616D;
    padding: 10px;
}

a {
    color: white;
}