body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

  .switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
      background-color: #2196F3;
  }
  
  input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
  }

body.dark-mode {
    background-color: white;
    color: white;
}

.dark-mode .first, .dark-mode .second, .dark-mode .third, .dark-mode .current_events, .dark-mode .weather, .dark-mode #benefits, .dark-mode fieldset, .dark-mode .directory-cards section, .dark-mode #info, .dark-mode #message {
    border: 5px solid rgb(0, 0, 0);
    color: black;
}

.dark-mode #menu::before {
    color: black;
    content: "☰";
}

.dark-mode #menu.show::before {
    color: black;
    content: "X";
}
    
.dark-mode #images img:hover {
    box-shadow: 0 0 50px #333;
}
    
.dark-mode #join, .dark-mode h4 {
    color: black;
    margin: 1rem;
    padding: 1rem;
}

header {
    background-color: #15616D;
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Red Rose', serif; 
    padding: 10px;
}

h1 {
    flex: 2;
    text-align: center;
    padding-right: 10px;
}

.hero h2 {
    padding: 1rem;
    position: relative; 
    top: 0px;
    left: 0px;
    max-width: 20%;
    background-color: #15616D;
    color: white;
    margin-block-start: 0em;
    text-align: center; 
}

.hero h2::before {
    content: "Small ";
}

h3,h2 {
    font-size: 20px;
    background-color: #15616D;
    text-align: center;
    margin: 5px;
    color: white;
    padding: 5px;
}

#info h3 {
    font-size: 20px;
    background-color: #2196F3;
    text-align: center;
    margin: 5px;
    color: white;
    padding: 5px;
}

p {
    text-align: center;
    padding: 5px;
}

div.desc {
    font-weight: bold;
    font-size: 20px;
}

.current_events,.weather,.first,.second,.third {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    margin: 10px;
}

.weatherTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: #2196F3;
    margin: 10px;
}

.temp {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.desc {
    text-align: center;
    color: white;
    font-size: 1rem;
}

.weatherDesc {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.weatherDesc p {
  padding-bottom: 10px;
  font-size: 20px;
}

.hero {
    text-align: center;
}

.hero img {
    width: 100%;
}

.hero a {
    color: white;
}

nav ul{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

nav li{
    flex: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    display: none;
}

nav ul li a{
    display: block;    
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgb(238, 28, 37);
    color: white;
}

#menu {
    display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
}

#menu::before {
    color: white;
    content: "☰";
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

#meetgreet {
    background-color: #15616D;
    padding: 10px;
    font-size: 20px;
    display: none;
    text-align: center;
}

#close-greet {
    float: right;
}

footer {
    text-align: center;
    background-color: #15616D;
    padding: 10px;
}

footer a {
    color: white;
}


/* Discover page css */

#discover-main {
    display: grid;
    grid-template-columns: 1fr;
}

#images {
    text-align: center;
    padding: 1.5rem;
}

#images img {
    border: 5px solid white;
    padding: 10px;
}

#images img:hover {
    filter: none;
}

#info, #message {
    border: 5px solid white;
    padding: 1rem;
    margin: 10px;
    text-align: center;
}

/* Join page css */

#join {
    display: grid;
    grid-template-columns: 1fr;
}

fieldset {
    margin: 1rem;
    padding: 1rem;
    border: 5px white solid;
}

input {
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    width: 19rem;
}

fieldset label {
    display: block;
    margin: .5rem 0;
    font-size: 1.2rem;
    padding: .5rem;
}

div#select {
    padding-bottom: 10px;
    font-size: .10px;
}

h4 {
    margin: .5rem ;
    font-size: 1.4rem;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
}

input:invalid {
    box-shadow: 2px 2px 2px rgb(238, 28, 37);
}

input:valid {
    box-shadow: 2px 2px 2px white;
}

#join h2 {
    font-size: 1.4rem;
    padding: 10px;
    width: 19rem;
    text-align: left;
    margin-bottom: 15px;
}

li {
    padding: 5px;
}

textarea {
    display: block;
    width: 20rem;
    margin: .5rem 0;
}

button:hover {
    box-shadow: 0 0 50px white;
}

button {
    font-size: 1.3rem;
    color: white;
    background-color: rgb(238, 28, 37);
    padding: .5rem;
    margin: 1rem 0;
    font-weight: bold;
}

div#benefits {
    margin: 1rem;
    padding: 1rem;
    border: 5px white solid;
}

#benefits h3 {
    font-size: 25px;
}

main.thankyou h3 {
    margin: 1rem;
    padding: 1rem;
}


/* Directory page css */

.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    border: 1px white solid;
}

.hashira-img {
    width: 100%;
}

.directory-cards .gold-member{
    box-shadow: .5rem .5rem .5rem gold;
}

footer {
    margin-top: 10px;
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-cards section{
    text-align: center;    
    border: 2px solid white;    
    width: 300px;
    padding: 1rem;
    margin: .5rem;
}

.directory-cards .card-button{
    text-decoration: none;
    color: white;
    padding: .5rem;
}

/* List View */

.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list .card-button{
    text-decoration: underline;
    color: white;
    text-align: right; 
}

.directory-list section:nth-child(odd) {
    background-color: #15616D;
}

.directory-list section:nth-child(even) {
    background-color: black;
}