@media screen and (min-width: 1120px) {
    nav ul{
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    nav li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	nav a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    #home-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .hero {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    #meetgreet {
        display: none;
        grid-column: 1/5;
        grid-row: 1/2;
    }
    #discover-main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    #discover-sidebar {
        border-right: 5px solid #1c7ec0;
        padding: 1rem;
    }
    .current_events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .current_events p.title {
        grid-column: 1/3;
        grid-row: 2;
        font-size: 18px;
        background-color: #2196F3;
        margin: 10px;
        font-weight: bold;
    }
    .current_events img {
        grid-column: 1;
        grid-row: 3/5;
        padding: 15px;
        margin-left: 10px;
        padding-right: 10px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
    .current_events h3 {
        grid-column: 1/3;
    }
    .current_events p.one {
        grid-column: 2;
        grid-row: 3;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 20px;
    }
    .current_events p.two {
        grid-column: 2;
        grid-row: 4;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 20px;
    }
    .current_events{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .weather {
        grid-row: 3/4;
        grid-column: 3/4;
    }
    #forecast {
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .spotlights {
        grid-row: 5;
        grid-column: 1/5;
    }
    #home main section {
        margin: 1rem .5rem;
    }
    .hero h2::before{
        content: "Large ";
    }
    #images img:hover {
        box-shadow: 0 0 50px white;
    }
    #join {
        grid-template-columns: 1fr 1fr;
    }
}
