@media screen and (min-width: 1120px) {
    nav ul{
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    nav li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	nav a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    #home-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .hero {
        grid-column: 1/5;
        grid-row: 2/3;
    }
    #meetgreet {
        display: none;
        grid-column: 1/5;
        grid-row: 1/2;
    }
    #discover-main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    #discover-sidebar {
        border-right: 5px solid #1c7ec0;
        padding: 1rem;
    }
    .current_events{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .weather {
        grid-row: 3/4;
        grid-column: 3/4;
    }
    #forecast {
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .first {
        grid-row: 5;
        grid-column: 1;
    }
    .second {
        grid-row: 5;
        grid-column: 2;
    }
    .third {
        grid-row: 5;
        grid-column: 3;
    }
    #home main section {
        margin: 1rem .5rem;
    }
    .hero h2::before{
        content: "Large ";
    }
    #images img:hover {
        box-shadow: 0 0 50px white;
    }
    #join {
        grid-template-columns: 1fr 1fr;
    }
}
