header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0022ff;
    color: white;
    text-align: center;
}

nav ul{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

nav li{
    flex: 1;
    color: black;
    display: none;
}

nav ul li a{
    display: block;    
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

nav ul li a:hover{
    background-color: #E70280;
    color: white;
}

#menu {
    display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
}

#menu::before {
    color: white;
    content: "☰";
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}
  
h1 {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0022ff;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    text-shadow: 3px 2px white;
    padding-top: 100px;
}
  
.hero img[alt^="hero-smoothie"] {
    width: 100%;
    position: relative;
    z-index: 1;
}
  
button {
    position: relative;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background-color: #E70280;
    color: white;
    padding: 15px;
}

.summary {
    border: #000000 solid 5px;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

.summary h2 {
    font-size: 40px;
    color: #E70280;
    font-weight: bold;
    text-shadow: 2px 1px #000000;
}

.summary p {
    font-size: 20px;
    padding: 10px;
}

.weather {
    border: #000000 solid 5px;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

footer {
    text-align: center;
    background-color: #0022ff;
    padding: 20px;
}

.references {
    padding: 10px;
    border-bottom: 5px solid white;
}

.social {
    padding: 10px;
    border-bottom: 5px solid white;
}

.contact {
    padding: 10px;
}

footer a, footer p {
    color: white;
    font-size: 20px;
}


/* order drink css */

form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin: 2rem;
    padding: 1rem;
    border: 5px #E70280 solid;
}

input, textarea {
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    width: 19rem;
}

fieldset label {
    display: block;
    margin: .5rem 0;
    font-size: 1.2rem;
    padding: 1rem;
}

form p {
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
}

input:invalid {
    box-shadow: 2px 2px 2px rgb(238, 28, 37);
}

input[type='submit'] {
    width: 100%;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(238, 28, 37);
    padding: 1rem;
    margin: 1rem 0;
    font-weight: bold;
}


/* order confirmation */

.experience {
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    margin: 1.5rem;
}

.experience h2 {
    color: #F14624;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 2px 2px 2px #000000;
}

.experience p {
    font-size: 18px;
}

.experience button {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#output {
    padding: 20px;
    margin: 1rem;
    font-size: 20px;
}


/* about us css */

.company h2, .area h2 {
    color: #F14624;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 2px #000000;
}

.area, .company {
    text-align: center;
    padding: 20px;
}

.area p, .company p {
    font-size: 20px;
    padding: 10px;
}

.area img {
    width: 100%;
}

.map {
    text-align: center;
    padding: 20px;
}

.map iframe {
    width: 100%;
}

.map h2 {
    color: #F14624;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000000;
}