body {
    background-color: rgb(225, 241, 255);
    height: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
}

header {
    background-color: rgb(0, 136, 255);
    display: flex;
    
}

img {
    width: 10%;
    height: 15%;
    position: relative;
    padding: 15px;
}

h1 {
    text-align: center;
    position: relative;
    padding-left: 130px;
    padding-top: 25px;
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    border: 2px solid rgb(76, 84, 92);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 10;
    margin: 5;
}

@media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
  }
  
  /* For larger devices */
  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row;
    }
  }

h3 {
    background-color: rgb(0, 136, 255); 
    text-align: center;
    padding: 10px;
    margin: 0;
}

footer {
    text-align: center;
    background-color: rgb(0, 136, 255);
    padding: 10px;
    text-shadow: 20rem;
}