@media screen and (min-width: 600px) {
    nav ul{
      flex-direction: row;
    }
    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    main section {
        margin: 1rem .5rem;
    }
    .hero img {
        position: relative;
        width: 100%;
    }
}
@media only screen and (min-width: 40em) {
	nav li {
		display: block;
		flex: 1 1 100%;
	}
	#menu {
		display: none;
	}
}
@media screen and (min-width:400px) {
    .hero img {
        position: relative;
        width: 100%;
    }
}